
body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-size: 18px;

}

main {
    padding: 5% 15%;
}



#credits {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size: .6em;
}

h1{ 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-weight: 400;
    text-align: center;
    font-size: 20px;

}


h3 {
    font-family: 'Playfair Display', serif;
    padding: 5% 0;
}

#instagram {
    display: block;
    margin: auto;
    max-width: 10px;
}

@media (max-width: 75%){
    #eras {
        padding: 5% 1%;
    }
}

footer{
    background-color: black;
    font: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    
}

iframe {
    display: block;
    margin: auto;
}

a {
    color: gray;
    text-decoration: none;

}

